@import url("reset.css");
@import "_variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

body {
  font-family: 'Noto Sans KR';
}

main {
  max-width: 1060px;
  border: 2px solid $gray4;
  border-radius: 15px;
  background-color: $gray6;
  margin: 0 auto;
  margin-top: 86px;
  padding:0 26px 27px 31px;
  box-sizing: border-box;
}

.title {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin: 41px 205px 0;
  padding-bottom: 37px;
  border-bottom: 2px solid $gray4;
}

.nav-list {
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  margin: 28px 0;
  gap: 60px;
  li {
    font-weight: 500;
    color: $gray3;
    &:first-child {
      font-weight: 900;
    }
    &:hover {
      font-weight: 900;
      font-size: 16px;
    }
  }
}

.movie-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 26px 25px 26px 25px;
  background-color: #fff;
  border: 2px solid $gray4;
  border-radius: 15px;
  box-sizing: border-box;
  gap: 20px;
}

.movie-item {
  padding: 19px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid $gray4;
  overflow: hidden;
  box-sizing: border-box;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
  .movie-img {
    width: 180px;
    height: 250px;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  strong {
    width: 180px;
    display: block;
    font-weight: 900;
    font-size: 16px;
    line-height: 23px;
    padding: 11px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .movie-card {
    .star {
      margin-right: 3px;
    }
    .fl-left {
      float: left;
    }
    .fl-right {
      float: right;
    }
    .fl-claer {
      clear: both;
    }
    dl {
      margin-bottom: 5px;
    }
    dt {
      display: inline-block;
      font-size: 13px;
      color: $gray3;
    }
    dd {
      display: inline-block;
      font-size: 13px;
    }
  }
}
.btn-wrap {
  background-color: $gray6;
  display: flex;
  margin: 18px -20px -20px;
  border-top: 1px solid $gray4;
  .ticket__btn,
  .trailer__btn {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    padding: 9px 0 12px;
  }
  .trailer__btn {
    border-left: 1px solid $gray4;
    margin-left: -5px;
    img {
      width: 16px;
      height: 16px;
      vertical-align: sub;
    }
  } 
}

.content-info {
  background-color: $gray6;
  margin-top: 135px;
  .footer-wrap{
    width: 1189px;
    margin: 0 auto;
    position: relative;
    .footer__title {
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 22px;
      text-transform: capitalize;
      padding:53px 0 42px;
      border-bottom: 1px solid #c4c4c4;
    }
    .sns__list {
      display: flex;
      position: absolute;
      gap: 25px;
      top: 53px;
      right: 0;
      img {
        width: 22px;
      }
    }
  }
  .address-info {
    display: flex;
    font-size: 14px;
    color:#4f4f4f;
    padding-bottom: 38px;
    margin-top: 36px;
    dl {
      display: flex;
      margin-right: 10px;
      &:not(:nth-child(5))::after {
        content:"";
        width: 1px;
        height: 16px;
        display: inline-block;
        background-color: #4f4f4f;
        margin-left: 10px;
      }
      &:last-child::after {
       display: none; 
      }
      dt {
        font-weight: 700;
        margin-right: 4px;
      }
      &:last-child {
        text-transform: capitalize;
        margin-left: auto;
      }
    }
    strong {
      font-weight: 700;
    }
  }
}